# dependencies
/node_modules
/electron/node_modules
/renderer/node_modules
/server/node_modules

# production
/electron/build
/renderer/build
/server/build

# dist
/electron/dist

# misc
/.vscode
desktop.ini
.DS_Store
